/* -----------------------------------------
	05. Footer
----------------------------------------- */
.footer-separator {
	border: none;
	width: 100%;
	background-color: $primary-color;
	height: 20px;
}

#footer {
	padding: 90px 0 40px;
	font-size: 15px;
	line-height: 1.714285714;

	.widget-title {
		font-weight: 900;
		font-size: 18px;
		margin: 0 0 25px;
		text-transform: uppercase;
		padding: 0;
		letter-spacing: 0;

		&:after {
			display: none;
		}
	}
}

.footer-credits {
	margin-top: 20px;

	p {
		margin: 0;
	}
}
