body {
  color: white;
}

a {
  color: #c3b179;
}
a:hover, a:focus {
  color: #d3c69c;
}

blockquote cite {
  color: rgba(255, 255, 255, 0.8);
}

input,
textarea {
  border: 1px solid #363636;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  border-color: #c3b179;
}

.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button,
.comment-reply-link {
  background-color: #c3b179;
}
.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover,
.comment-reply-link:hover {
  background: #b6a15d;
}

#page {
  border-color: #c3b179;
}

#navigation > li ul a:hover,
#navigation > li ul .sfHover > a {
  color: #FFF;
  background: #c3b179;
}
#navigation > li > a:hover,
#navigation > li.sfHover > a,
#navigation > li.sfHover > a:active,
#navigation > li.current_page_item > a,
#navigation > li.current-menu-item > a,
#navigation > li.current-menu-ancestor > a,
#navigation > li.current-menu-parent > a,
#navigation > li.current > a {
  border-bottom: 2px solid #c3b179;
}
#navigation > li ul a {
  color: #FFF;
  background: #000;
  border-bottom: 1px solid #292322;
}
#navigation ul {
  border: 3px solid #292322;
}

.section-title:after,
.widget-title:after {
  border-bottom: 1px solid #c3b179;
}

.item-thumb {
  background-color: #242424;
}
.item-thumb:before {
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.item-thumb:hover:before {
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.25);
}

.item-meta {
  border-top: 1px solid #363636;
}
.item-meta th, .item-meta td {
  border-bottom: 1px solid #363636;
  border-left: 1px solid #363636;
}
.item-meta td {
  border-right: 1px solid #363636;
}

.item-timer .count {
  border: 1px solid #363636;
}
.item-timer .count b {
  color: #c3b179;
}

.entry-title a {
  color: #FFF;
}
.entry-title a:hover {
  color: #c3b179;
}

.entry-meta {
  color: #3F3F3F;
}

#paging > span, #paging a,
.page-numbers li > span,
.page-numbers li a {
  background-color: #1D1D1D;
}
#paging > span.current, #paging a.current,
.page-numbers li > span.current,
.page-numbers li a.current {
  background-color: #c3b179;
  color: #FFF;
}
#paging span.current,
#paging a:hover,
.page-numbers li span.current,
.page-numbers li a:hover {
  color: #FFF;
  background-color: #c3b179;
}

.filters-nav .btn {
  background-color: #1d1d1d;
}
.filters-nav .btn:hover {
  background-color: #c3b179;
}
.filters-nav a.selected {
  background-color: #c3b179;
}

.tracklisting .track {
  border: 1px solid #363636;
}
.tracklisting .track:last-child {
  border: 1px solid #363636;
}
.tracklisting .track:hover, .tracklisting .track.playing {
  border-color: #c3b179;
}
.tracklisting .track:hover .sm2_link, .tracklisting .track.playing .sm2_link {
  background-color: #c3b179;
}
.tracklisting .track:hover .track-no, .tracklisting .track.playing .track-no {
  color: #c3b179;
}

.sm2_link {
  background-color: #2a2a2a;
}
.sm2_link:hover, .sm2_link:focus {
  color: #FFF;
  background-color: #c3b179;
}
.sm2_link.sm2_playing {
  background-color: #c3b179;
}

.track-no {
  color: #5c5c5c;
}

.ci-soundplayer-play {
  background-color: #c3b179;
}

.ci-soundplayer-prev,
.ci-soundplayer-next {
  background-color: #242424;
  color: #FFF;
}

.ci-soundplayer-meta .track-bar {
  background-color: #242424;
}
.ci-soundplayer-meta .progress-bar {
  background-color: #c3b179;
}
.ci-soundplayer-meta .load-bar {
  background-color: #3e3e3e;
}

.form-allowed-tags,
.comment-notes {
  color: rgba(255, 255, 255, 0.8);
}

.widget ul li {
  border-bottom: 1px solid #363636;
}

.widget ul ul.children li:first-child {
  border-top: 1px solid #363636;
}

.shop-actions {
  border-bottom: 1px solid #363636;
}

.sale-wrap {
  background: #c3b179;
}

.onsale {
  background: #c3b179;
}

.quantity input {
  background-color: #c3b179;
}

.woocommerce-tabs .tabs {
  border-bottom: 1px solid #363636;
}
.woocommerce-tabs .tabs li a {
  border-top: 1px solid #363636;
  border-right: 1px solid #363636;
  color: #FFF;
}
.woocommerce-tabs .tabs li.active a {
  color: #FFF;
  background-color: #c3b179;
}

.entry-content table {
  border: 1px solid #363636;
}
.entry-content table caption,
.entry-content table th,
.entry-content table td {
  border-bottom: 1px solid #363636;
}
.entry-content table th {
  background-color: #c3b179;
}
.entry-content table tr:nth-child(2n) {
  background-color: #2e2e2e;
}

.shop_attributes th, .shop_attributes td {
  border-bottom: 1px solid #363636;
}
.shop_attributes tr:first-child th, .shop_attributes tr:first-child td {
  border-top: 1px solid #363636;
}

.shop_table th,
.shop_table td {
  border-bottom: 1px solid #363636;
}

.cart_totals th, .cart_totals td {
  border-bottom: 1px solid #363636;
}

.woocommerce-checkout .woocommerce-info {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}

.payment_box {
  border: 1px solid #363636;
}

.order_details {
  background: #363636;
}
.order_details li {
  border-bottom: 1px solid #363636;
}

.woocommerce-message,
.woocommerce-info {
  background: #363636;
}

.widget ul.product_list_widget li {
  border-bottom: 1px solid #363636;
}

.price_slider {
  background: #505050;
}
.price_slider .ui-slider-range {
  background: #2c2c2c;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
.price_slider .ui-slider-handle {
  background: #c3b179;
}

.footer-separator {
  background-color: #c3b179;
}

@media (max-width: 767px) {
  .item-fullwidth .item-info {
    background-color: #363636;
  }
}
